body {
  color: #f9f2e5;
  background-color: #8c4155;
  text-align: center;
  font-size: 80px;
  font-family: 'Raleway Dots'; }

article {
  background-color: #f9f2e5;
  width: 35%;
  margin: 30px;
  border-radius: 10px;
  display: inline-block; }
  article .customer, article .admin {
    font-size: 50px;
    color: #8c4155;
    font-weight: bold; }

.description {
  font-size: 20px;
  font-weight: bold;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #f9f2e5;
  padding: 10px;
  background-color: #f9f2e5;
  color: #8c4155; }

.seedetails a {
  color: black; }

.title {
  margin: 10px;
  margin-top: 148px;
  font-size: 40px;
  -webkit-text-stroke: .5px #f9f2e5;
  color: #f9f2e5; }

.price {
  margin: 0;
  color: #f9f2e5;
  font-size: 20px;
  margin-bottom: 20px; }

input {
  padding: 20px;
  width: 25%;
  font-size: 30px;
  font-family: 'Raleway Dots';
  font-weight: bold; }

button {
  width: 15%;
  padding: 10px;
  border-radius: 10px;
  background-color: #f9f2e5;
  color: black;
  font-size: 15px;
  border: 2px solid #f9f2e5;
  font-family: 'Raleway Dots';
  font-weight: bold; }

.buttontwo a {
  color: black; }

.addanotherface {
  font-size: 20px;
  border: 2px solid #f9f2e5;
  margin-bottom: 100px;
  color: black; }
  .addanotherface a {
    text-decoration: none;
    color: black; }

.gallery {
  margin: 0; }

img {
  border: 6px solid #f9f2e5;
  width: 45%;
  display: inline-block; }

a {
  text-decoration: none;
  color: #f9f2e5; }

.delete {
  font-size: 12px;
  font-family: 'Raleway Dots';
  font-weight: bold;
  padding: 10px;
  width: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px; }

.gotocart a {
  color: black; }

h6, h5, h2 {
  color: #f9f2e5; }

.textarea {
  width: 25%;
  display: block; }

.submit {
  display: inline-block; }
