<h1>create page</h1>
<form>
<input type="text" name="image" ng-model="newBoy.image" placeholder="image" value="">
<input type="text" name="title" ng-model="newBoy.title" placeholder="title" value="">
<input type="text" name="price" ng-model="newBoy.price" placeholder="price" value="">
<input type="text" name="description" ng-model="newBoy.description" placeholder="description" value="">

<button type="button" class="buttonone" ng-click="thingy(newBoy)" name="button">Add A Bae</button>
<button type="button" class="buttontwo"  name="button"><a href="#/admin">Return to catalog</a></button>
</form>
